@charset "utf-8";

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  height: 100%;
  background-color: rgb(247, 247, 247);
}

a {
  text-decoration: none;
  color: #666;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
